
<div class="container">
    <div class="heading">
        <a class="btn btn_success" href="/">Home</a>
    </div>
    <div class="form_container">
        <form action="/article" method="POST">
            <input type="text" name="title" placeholder="Title...">
            <textarea name="des" id="" cols="30" rows="10" placeholder="Your Post..."></textarea>
            <textarea name="info" id="" cols="30" rows="10" placeholder="More info..."></textarea>
            <button class="btn btn_info" type="submit">Submit</button>
        </form>
    </div>
</div>